body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white !important;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.riga {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.portfolio-descrizione {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    font-size: 14px;
}
